<h1>Successfully Logged in</h1><br>
<form method="get" action="/create">
    <input type="submit" value="CREATE POST">
</form>


<h2>All posts</h2>
<ul>
<% posts.forEach(function(post){ %>
        <li><h3><%= post.title %></h3><br><%= post.content %><br><h4>By: <%=post.createdBy%></h4></li>
               
        <% if(user.username==post.createdBy){ %>
            <a href="/edit/<%= post._id %>"><button>Edit Post</button></a>
            <a href="/delete/<%= post._id %>"><button>Delete Post</button></a>
        <% } %>
        <a id='like' href="/like/<%=post._id %>"><button>Likes = <% if(post.likes){ %>
                <%= post.likes %>
            <% }else{ %><%= 0 %><% }%></button></a>
<% }); %>
    
</ul>